<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>Sample document</title>
    <link rel="canonical" href="/canonical">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  </head>
  <body>
    <h1>This is an amp page.</h1>
    <%= link_to "go to the canonical page", root_url %>
  </body>
</html>
